<!--
  This configuration file allows specific options to be set for this test suite. Any equivalent options set by the user
  in the Venus application itself will be overridden if they are specified in this file.
-->
<Config>
	<!-- The type of test environment for which this test suite is designed. Options: -->
	<!-- TsiLocal: This test suite can interact with the TSi MCC database and insar directory structure in order to do -->
    <!--   more complex and complete tests. -->
    <!-- Local: This test suite will be run on the same local system as the software under test. Database and other -->
    <!--   software-specific options will be disabled. -->
    <TestEnvironment>Local</TestEnvironment>

	<!-- Time in seconds to delay between every individual test step. -->
	<!-- Enough time should be allotted so that all expected outputs will be received before the delay has completed. -->
    <!-- If a delay is specified directly in a test step, that delay will override this setting. -->
	<DelayBetweenStepsSeconds>1</DelayBetweenStepsSeconds>

	<!-- Time in seconds to delay at the very end of the test. -->
	<!-- Time at the end of a test may be needed for all processing or final tasks to complete. -->
	<DelayAtEndOfTestSeconds>1</DelayAtEndOfTestSeconds>

	<!-- The directory to dropoff input files to the application under test. -->
	<InputMessageDirectory>C:\insar\ftp\</InputMessageDirectory>

	<!-- The directory to pickup output files from the application under test. -->
	<OutputMessageDirectory>C:\insar\lan_out\</OutputMessageDirectory>


    <!-- The list of available satellites for use in any test where the detecting satellite parameter needs to be selected -->
    <!-- in order to be in or out of footprint. GEO satellites are not supported here and should instead be provided in TestParameters. -->
    <!-- By default, Venus will download TLEs and match them to the configured satellite with the same NORAD number, however, -->
    <!-- the TLE may also be manually specified instead. -->
    <!-- All satellites here must also be configured in the MCC under test, or else the MCC may reject messages due to an unknown -->
    <!-- satellite. Remove or comment-out any satellites that will not be accepted at the MCC when the test is run. -->

    <!-- Attributes that must be included are: -->
    <!--     Type: "LEO" or "MEO" -->
    <!--     SarsatId: The C/S number for a given satellite, e.g.: 7, 114, 302 -->
    <!--     NoradNumber: The NORAD identifying number for a given satellite as will be found in a TLE, e.g.: 25338 -->
    <!-- Optional attributes: -->
    <!--     MinElevation: The minimum elevation between the satellite and location to be considered within its footprint; default -5.0 -->
    <!-- Optionally, a value may be provided in TLE form for any satellite, including LEO. If set, Venus will use that instead of any -->
    <!-- TLE downloaded from the TLE source URL. Only lines 1 and 2 of the TLE should be included, e.g.: -->
    <!--     <Satellite Type="LEO" SarsatId="7" NoradNumber="25338" MinElevation="-5.0"> -->
    <!--         1 25338U 98030A   24098.81789746  .00000212  00000+0  10560-3 0  9993 -->
    <!--         2 25338  98.5762 127.3938 0010740 164.4996 195.6515 14.26529187347409 -->
    <!--     </Satellite> -->

    <!-- See below for information on how to use these satellites in test steps. -->
    <Satellites>
        <TleSourceUrl>https://celestrak.org/NORAD/elements/sarsat.txt</TleSourceUrl>

        <Satellite Type="LEO" SarsatId="7" NoradNumber="25338" MinElevation="-5.0"/>
        <Satellite Type="LEO" SarsatId="10" NoradNumber="28654"/>
        <Satellite Type="LEO" SarsatId="12" NoradNumber="33591"/>
        <Satellite Type="LEO" SarsatId="13" NoradNumber="38771"/>
        <Satellite Type="LEO" SarsatId="114" NoradNumber="44387"/>

        <Satellite Type="MEO" SarsatId="302" NoradNumber="28474"/>
        <Satellite Type="MEO" SarsatId="303" NoradNumber="40294"/>
        <Satellite Type="MEO" SarsatId="306" NoradNumber="39741"/>
        <Satellite Type="MEO" SarsatId="308" NoradNumber="40730"/>
        <Satellite Type="MEO" SarsatId="309" NoradNumber="40105"/>
        <Satellite Type="MEO" SarsatId="310" NoradNumber="41019"/>
        <Satellite Type="MEO" SarsatId="312" NoradNumber="29601"/>
        <Satellite Type="MEO" SarsatId="315" NoradNumber="32260"/>
        <Satellite Type="MEO" SarsatId="316" NoradNumber="27663"/>
        <Satellite Type="MEO" SarsatId="317" NoradNumber="28874"/>
        <Satellite Type="MEO" SarsatId="318" NoradNumber="26690"/>
        <Satellite Type="MEO" SarsatId="319" NoradNumber="28190"/>
        <Satellite Type="MEO" SarsatId="323" NoradNumber="28361"/>
        <Satellite Type="MEO" SarsatId="324" NoradNumber="38833"/>
        <Satellite Type="MEO" SarsatId="326" NoradNumber="40534"/>
        <Satellite Type="MEO" SarsatId="327" NoradNumber="39166"/>
        <Satellite Type="MEO" SarsatId="329" NoradNumber="32384"/>
        <Satellite Type="MEO" SarsatId="330" NoradNumber="39533"/>
        <Satellite Type="MEO" SarsatId="332" NoradNumber="41328"/>
        <Satellite Type="MEO" SarsatId="402" NoradNumber="41549"/>
        <Satellite Type="MEO" SarsatId="403" NoradNumber="41860"/>
        <Satellite Type="MEO" SarsatId="404" NoradNumber="41861"/>
        <Satellite Type="MEO" SarsatId="405" NoradNumber="41862"/>
        <Satellite Type="MEO" SarsatId="407" NoradNumber="41859"/>
        <Satellite Type="MEO" SarsatId="408" NoradNumber="41175"/>
        <Satellite Type="MEO" SarsatId="409" NoradNumber="41174"/>
        <Satellite Type="MEO" SarsatId="413" NoradNumber="43567"/>
        <Satellite Type="MEO" SarsatId="415" NoradNumber="43564"/>
        <Satellite Type="MEO" SarsatId="419" NoradNumber="38857"/>
        <Satellite Type="MEO" SarsatId="421" NoradNumber="43055"/>
        <Satellite Type="MEO" SarsatId="424" NoradNumber="40889"/>
        <Satellite Type="MEO" SarsatId="425" NoradNumber="43056"/>
        <Satellite Type="MEO" SarsatId="426" NoradNumber="40544"/>
        <Satellite Type="MEO" SarsatId="427" NoradNumber="43057"/>
        <Satellite Type="MEO" SarsatId="430" NoradNumber="40890"/>
        <Satellite Type="MEO" SarsatId="431" NoradNumber="43058"/>
        <Satellite Type="MEO" SarsatId="433" NoradNumber="43565"/>
        <Satellite Type="MEO" SarsatId="436" NoradNumber="43566"/>
    </Satellites>


    <!-- TestParameters defines a list parameters that will be replaced in input SIT messages with specified values. -->
    <!-- The parameter name must be surrounded by '#' symbols in the message. -->
    <!-- Whitespace before and after the specified value in this config file will be removed. -->

    <!-- The parameter "#CurrentSitDateTimeMinuteAccuracy#" is predefined and will be replaced with the current -->
    <!-- system time in UTC in SIT format "YY DDD HHMM". Offsets to this time can be specified by adding parentheses -->
    <!-- at the end of the parameter name with one or more integer offset sizes followed by a 'y', 'd', 'h', or 'm'. -->
    <!-- Examples: -->
    <!-- #CurrentSitDateTimeMinuteAccuracy(1y2d3h4m)# will offset the current time by +1 year, +2 days, +3 hours, -->
    <!--    and +4 minutes. -->
    <!-- #CurrentSitDateTimeMinuteAccuracy(+1d)# will offset the current time by +1 day. -->
    <!-- #CurrentSitDateTimeMinuteAccuracy(-1h+15m)# will offset the current time by -1 hour and +15 minutes. -->

    <!-- The parameters "#LeoSatelliteInView#", "#MeoSatelliteInView#", "#LeoSatelliteNotInView#", and -->
    <!-- "#MeoSatelliteNotInView#" are predefined and will be replaced with the three-digit satellite number -->
    <!-- of the defined type that has the nth-highest elevation, or lowest for NotInView, relative to the location -->
    <!-- being observed. -->
    <!-- Each of these parameters take the following arguments (any optional can be omitted, but order does matter): -->
    <!--     Location being observed (required); format is "([+-]DD.DDD/[+-]DDD.DDD)"; sign can be omitted, precision does not have to be exact -->
    <!--         Example: (+30.000/-070.000) -->
    <!--         Example: (1.20/0.0000005) -->
    <!--     Time of observation (optional); default is current time; format is SIT format with or without seconds -->
    <!--         Example: (24 100 2227) -->
    <!--         Example: (24 100 2227 12.34) -->
    <!--     Satellite ranking (optional); default is 1; format is the integer value indicating the nth-best or nth-worst satellite -->
    <!--         Example: (1) -->
    <!--         Example: (15) -->
    <!-- The satellite in/out-of view parameters will be replaced last, so CurrentSitDateTime or any user-defined test parameter -->
    <!-- can be embedded into the satellite parameter and will be include. -->
    <!-- Example: #LeoSatelliteInView(20.0/-19.5)# -->
    <!-- Example: #LeoSatelliteNotInView(#LocalLocationTest1#)# -->
    <!-- Example: #MeoSatelliteInView(#LocalLocationTest1#)(#DetectTimeTest1Step1#)# -->
    <!-- Example: #MeoSatelliteNotInView(#LocalLocationTest1#)(#CurrentSitDateTimeMinuteAccuracy(-1h-9m)#)# -->
    <!-- Example: #MeoSatelliteInView(#LocalLocationTest1#)(#CurrentSitDateTimeMinuteAccuracy(-1h-9m)#)#(2) -->
    <!-- Example test message: -->
    <!--     /00001 00000/#NodalMccDdr1Code#/#CurrentSitDateTimeMinuteAccuracy# -->
    <!--     /142/#LocalMccCode#/01 -->
    <!--     /#NodalMccMeolut1Code#/+99999.9 999.9 +99.99/#CurrentSitDateTimeMinuteAccuracy(-6m)# 12.30 -->
    <!--     /#CurrentSitDateTimeMinuteAccuracy(-1m)# 12.31/07/FFFE2F#Test1Epirb1# -->
    <!--     /12.99/00/01/002 -->
    <!--     /#MeoSatelliteInView(#LocalLocation#)# #MeoSatelliteInView(#LocalLocation#)(2)# #MeoSatelliteInView(#LocalLocation#)(3)# 000 000 000 000 000 000 000 000 000 000 000 000 000 000 -->
    <!--     /LASSIT -->
    <!--     /ENDMSG -->


    <!-- Example: -->
    <!-- <TestParameters> -->
    <!--     <LocalMccCode>3660</LocalMccCode> -->
    <!--     <LocalMeolutCode>3669</LocalMeolutCode> -->
    <!--     <LocalFgb1> -->
    <!--         D6E30F3C0618618C46EAEFE0FF0146 -->
    <!--     </LocalFgb1> -->
    <!--     <Location1>+38.948/-076.831</Location1> -->
    <!-- <TestParameters> -->

    <!-- Example input file: -->
    <!-- /00001 00000/#LocalMeolutCode#/#CurrentSitDateTimeMinuteAccuracy# -->
    <!-- /145/#LocalMccCode#/01 -->
    <!-- /#LocalMeolutCode#/+14968.0 999.9 +00.00/#CurrentSitDateTimeMinuteAccuracy(-5m)# 48.48 -->
    <!-- /#CurrentSitDateTimeMinuteAccuracy(-3m)# 48.89/03/FFFE2F#LocalFgb1# -->
    <!-- /-366/#Location1#/872/010.00 -->
    <!-- /38.50/00/00/00.000000/00/005/018 012.2 003.6 -->
    <!-- /#MeoSatelliteInView(#Location1#)# #MeoSatelliteInView(#Location1#)(2)# #MeoSatelliteInView(#Location1#)(3)# 000 000 000 000 000 000 000 000 000 000 000 000 000 000 -->
    <!-- /LASSIT -->
    <!-- /ENDMSG -->

    <!-- Resulting file to be passed on to the application under test: -->
    <!-- /00001 00000/3669/23 268 2007 -->
    <!-- /145/3660/01 -->
    <!-- /3669/+14968.0 999.9 +00.00/23 268 2002 48.48 -->
    <!-- /23 268 2004 48.89/03/FFFE2FD6E30F3C0618618C46EAEFE0FF0146 -->
    <!-- /-366/+38.948/-076.831/872/010.00 -->
    <!-- /38.50/00/00/00.000000/00/005/018 012.2 003.6 -->
    <!-- /329 315 302 000 000 000 000 000 000 000 000 000 000 000 000 000 000 -->
    <!-- /LASSIT -->
    <!-- /ENDMSG -->
    <TestParameters>
        <LocalMccCode>4120</LocalMccCode>
        <LocalMccGeolut1Code>4125</LocalMccGeolut1Code>
        <LocalMccMeolut1Code>4123</LocalMccMeolut1Code>
        <LocalMccMeolut2Code>4124</LocalMccMeolut2Code>
	<LocalMccLeolut1Code>4121</LocalMccLeolut1Code>
		
		
	<NodalMccDdr1Code>4310</NodalMccDdr1Code>
        <NodalMccGeolut1Code>4312</NodalMccGeolut1Code>
        <NodalMccMeolut1Code>4314</NodalMccMeolut1Code>
	<NodalMccLeolut1Code>4311</NodalMccLeolut1Code>
		
		
         <!-- added by JLO, test 9 uses ActualTestTime -->
         <TestTime>24 256 03</TestTime>
         <ActualTestTime>24 256 06</ActualTestTime>
      	
        <!-- Test 1.1 --> 
        <!-- constant --> <EltDt1.1>8C99C000001FEFFC8F62C00626EF80</EltDt1.1>
	<Location1.1>-412/+40.104/+116.209</Location1.1>
		
	<!-- Test 2.1 --> 
        <!-- constant --> <EltDt2.1>8C998000001FEFFD2FB5B00626EC28</EltDt2.1>
	<Location2.1>-412/+40.104/+116.209</Location2.1>
		
	<!-- Test 3.1 --> 
        <!-- constant --> <EltDt3.1>8C998000005FEFFDA627800E26E47C</EltDt3.1>
	<Location3.1>-412/+40.104/+116.209</Location3.1>
		
	<!-- Test 4.1 --> 
        <!-- constant --> <EltDt4.1>8E097137005FEFFF9AD84F0630948D</EltDt4.1>
	<Location4.1>-412/+40.104/+116.209</Location4.1>
		
	<!-- Test 5.1 -->
	<EltDt5.1>99D98011F548C873AC4A400452A622</EltDt5.1>
	<!-- constant --> <Location5.1A>+503/-18.000/+132.000</Location5.1A>
	<!-- constant --> <Location5.1B>+563/+01.388/+103.801</Location5.1B>
		
	<!-- Test 6.1 --> 
        <!-- constant --> <EltDt6.1>8C9908D08906633DF4684F0613324C</EltDt6.1>
	<Location6.1>-412/+40.104/+116.209</Location6.1>
	<!-- constant --> <EncodedLocation6.1>25.5/51.5</EncodedLocation6.1>
		
	<!-- Test 7.1 --> <!-- not applicable -->
		
	<!-- Test 8-1 -->
    	<!-- constant --> <EltDt8.1>8ED9BFFFFFDFEFF995A08F05AD6D70</EltDt8.1>
	<!-- constant --> <Location8.1>-366/+38.000/-080.300</Location8.1>
				   
	<!-- Test 8-2 --> 
        <!-- constant --> <EltDt8.2>8F798000001FEFFFA2158F05AD6D70</EltDt8.2>
	<!-- constant --> <Location8.2>-366/+38.000/-080.300</Location8.2>
		
	<!-- Test 8-3 --> 
        <!-- constant --> <EltDt8.3>9019BFFFFF9FEFFABB0C0F05AD6D70</EltDt8.3>
	<!-- constant --> <Location8.3>-366/+38.000/-080.300</Location8.3>

 	<!-- Test 9.1 --> 
        <EltDt9.1>9DD981520D5FEFF9C8F5000452A622</EltDt9.1>
				
	<!-- Test 9.2 --> 
        <EltDt9.2>9DD981520D4A0740050FC00452A622</EltDt9.2>
        <EncodedLocation9.2>40.0/116.0</EncodedLocation9.2>
          
	!-- Test 9.3 --> 
        <EltDt9.3>9DD981520D4A0740050FC00452A622</EltDt9.3>  <!-- same as test 9.2 -->
	<Location9.3>-574/+20.160/+106.120</Location9.3> 		
        <EncodedLocation9.3>40.0/116.0</EncodedLocation9.3> <!-- same as test 9.2 -->

        <!-- Test 9.4 --> 
        <EltDt9.4>9DD981520D4A0740050FC00452A622</EltDt9.4> <!-- same as test 9.2 -->
	<Location9.4>-412/+40.001/+116.001</Location9.4>
        <EncodedLocation9.4>40.0/116.0</EncodedLocation9.4> <!-- same as test 9.2 -->

        <!-- Test 9.5 -->           
        <EltDt9.5>9DD981520D4A0740050FC00452A622</EltDt9.5> <!-- same as test 9.2 -->
	<Location9.5>-412/+40.001/+116.001</Location9.5>	<!-- same as test 9.4 -->
        <EncodedLocation9.5>40.0/116.0</EncodedLocation9.5> <!-- same as test 9.2 -->
		
      	<!-- Test 9.6 --> 
        <EltDt9.6>9DD981520D4A0740050FC00452A622</EltDt9.6> <!-- same as test 9.2 -->
	<Location9.6>-412/+40.001/+116.001</Location9.6>
        <EncodedLocation9.6>40.0/116.0</EncodedLocation9.6> <!-- same as test 9.2 -->
		
	!-- Test 9.7 --> 
        <EltDt9.7>9DD981520D4A0740050FC00452A622</EltDt9.7> <!-- same as test 9.2 -->
	<Location9.7>-416/+22.031/+120.421</Location9.7>
        <EncodedLocation9.7>40.0/116.0</EncodedLocation9.7> <!-- same as test 9.2 -->

        <!-- Test 9.8 --> 
        <EltDt9.8>9DD981520D5FEFF9C8F5000452A622</EltDt9.8> <!-- same as test 9.1 -->
	<Location9.8>-416/+22.032/+120.422</Location9.8>		
		
     	<!-- Test 9.9 --> 		            
        <EltDt9.9>9DD981520D4A075369FE400452A622</EltDt9.9>
        <EncodedLocation9.9>40.0/117.0</EncodedLocation9.9>
   		
	<!-- Test 10.1 -->       
        <EltDt10.1>99C900048D0908013558900452ABAD</EltDt10.1>
	<EncodedLocation10.1>36.0/128.0</EncodedLocation10.1>
	
	<!-- Test 10.2 --> 	            
        <!-- not applicable -->
		
	<!-- Test 11.1 --> 	      	            
        <!-- constant --> <EltDt11.1>9599BFFFFFDFEFFB74F7CF01E17C9F</EltDt11.1>
	<Location11.1>-440/+37.000/+126.000</Location11.1>
		
	<!-- Test 11.2 --> 
        <!-- constant --> <EltDt11.2>95998000001FEFFB93CB0FE1F0FC30</EltDt11.2>
	<Location11.2>-440/+37.000/+126.000</Location11.2>
		
	<!-- Test 12.1  --> 
        <!-- constant --> <EltDt12.1>8E39BD70034D36C8A6C30F05958ECD</EltDt12.1>
	<Location12.1>-412/+40.000/+116.000</Location12.1>
	<!-- constant --> <EncodedLocation12.1>52.5/-108.5</EncodedLocation12.1>
		
	<!-- Test 13.1  --> 
        <!-- constant --> <EltDt13.1>96E92AF03BDFEFFABB7664041D3A83</EltDt13.1>
	<Location13.1>-412/+40.104/+116.209</Location13.1>
		
	<!-- Test 13.2  --> 
        <!-- constant --> <EltDt13.2A>96E92AF03BFF5FD06FCE8F1E0F01EE</EltDt13.2A>
	<Location13.2A>-412/+40.114/+116.209</Location13.2A>
	<!-- constant --> <EltDt13.2B>96E92AF03BFF5FD06FCE8F1E0F01EE</EltDt13.2B>
	<Location13.2B>-412/+40.124/+116.209</Location13.2B>
		
	<!-- Test 13.3  --> 
	<!-- constant --> <EltDt13.3>96E92AF03BDFEFFABB7664041D3A83</EltDt13.3>		
	<Location13.3>-412/+40.114/+116.209</Location13.3> <!-- Same as 13.2.1 -->
		
	<!-- Test 13.4  --> 
	<!-- constant --> <EltDt13.4>96E92AF03BFF5FD06FCE8F1E0F01EE</EltDt13.4>
	<Location13.4>-440/+37.160/+126.120</Location13.4>
		
	<!-- Test 14.1 --> 
	<!-- constant --> <EltDt14.1>96E92AF007DFEFFDBB42CF0452AC6E</EltDt14.1>
	<Location14.1>-412/+40.104/+116.209</Location14.1>
		
	<!-- Test 14.2 --> 
	<!-- constant --> <EltDt14.2A>96E92AF007FF5FD76FFA0F1E0F01EE</EltDt14.2A>
	<Location14.2A>-412/+40.114/+116.209</Location14.2A>
	<!-- constant --> <EltDt14.2B>96E92AF007FF5FD76FFA0F1E0F01EE</EltDt14.2B>
	<Location14.2B>-412/+40.124/+116.209</Location14.2B>
		
	<!-- Test 14.3 --> 
	<!-- constant --> <EltDt14.3>96E92AF007FF5FD76FFA0F1E0F01EE</EltDt14.3>
	<Location14.3>-412/+40.114/+116.209</Location14.3> <!-- same as 14.2.1 -->
		
	<!-- Test 14.4 --> 
	<!-- constant --> <EltDt14.4>96E92AF007FF5FD76FFA0F1E0F01EE</EltDt14.4>
	<Location14.4>-412/+40.124/+116.209</Location14.4> <!-- same as 14.2.2 -->
		
	<!-- Test 14.5 --> 
	<!-- constant --> <EltDt14.5>96E92AF007DFEFFDBB42CF0452AC6E</EltDt14.5>
	<Location14.5>-412/+40.104/+116.209</Location14.5> <!-- same as 14.1 -->
	
	<!-- Test 14.6 --> 
	<!-- constant --> <EltDt14.6>96E92AF007DFEFFDBB42CF0452AC6E</EltDt14.6>
	<Location14.6>-412/+40.104/+116.209</Location14.6> <!-- same as 14.1 -->

	<!-- Test 14.7 --> <!-- not applicable -->
		
	<!-- Test 15.1 --> 
	<EltDt15.1>9DD90AB50E4A0742325F00F4185351</EltDt15.1>
	<EncodedLocation15.1>40.167/116.139</EncodedLocation15.1>
		
	<!-- Test 15.2 --> 
	<EltDt15.2>9DD90AB50E4A0742325F00039D876B</EltDt15.2>
	<EncodedLocation15.2>40.0/116.0</EncodedLocation15.2>
		
	<!-- Test 16.1 -->
	<EltDt16.1>9B890AB50D4A07427351C0039D876B</EltDt16.1>
	<EncodedLocation16.1>40.0/116.0</EncodedLocation16.1>

	<!-- Test 16.2 -->
	<EltDt16.2>9B890AB50D4A07427351C0F4185351</EltDt16.2>
	<EncodedLocation16.2>40.167/116.139</EncodedLocation16.2>

	<!-- Test 16.3 -->
	<!-- constant --> <EltDt16.3>8F798020031FEFF978CECF04578981</EltDt16.3>
        <Location16.3>-412/+41.104/+114.209</Location16.3>


    </TestParameters>
</Config>
